#cloud-menu-item{
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    cursor: default;
}

#login-logout-item{
  float: right;
}

#login-button {
    width: 100%;
}




#root {
  display: flex;
  flex-direction: column;
}

