#cloud-menu-item{
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    cursor: default;
}


#login-button {
    width: 100%;
}

#hover-item :hover {
    color: #fadcaa;
}
