.menuBarStyle {
    color: '#434343';
    text-decoration-color: '#434343';
    background-color: "#001529";
}

a:hover {
    color: '#434343';
    text-decoration-color: '#434343';
    background-color: "#001529";
}

